@page
@model xau.Pages.Entregas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Entrega</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entrega.Fecha" class="control-label"></label>
                <input asp-for="Entrega.Fecha" class="form-control" />
                <span asp-validation-for="Entrega.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Peso" class="control-label"></label>
                <input asp-for="Entrega.Peso" class="form-control" />
                <span asp-validation-for="Entrega.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Recolector" class="control-label"></label>
                <input asp-for="Entrega.Recolector" class="form-control" />
                <span asp-validation-for="Entrega.Recolector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrega.Proveedor" class="control-label"></label>
                <input asp-for="Entrega.Proveedor" class="form-control" />
                <span asp-validation-for="Entrega.Proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
