@page "{id:int?}"
@model xau.Pages.Recolectores.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recolector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recolector.ID" />
            <div class="form-group">
                <label asp-for="Recolector.Nombre" class="control-label"></label>
                <input asp-for="Recolector.Nombre" class="form-control" />
                <span asp-validation-for="Recolector.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recolector.Telefono" class="control-label"></label>
                <input asp-for="Recolector.Telefono" class="form-control" />
                <span asp-validation-for="Recolector.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recolector.Email" class="control-label"></label>
                <input asp-for="Recolector.Email" class="form-control" />
                <span asp-validation-for="Recolector.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
