<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fb1858df-e043-4b48-b204-36cd8b2c65c4/resourceGroups/aspcXauResourceGroup/providers/Microsoft.Web/sites/xau</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://xau.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>xau.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>xau</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$xau</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>